<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ygaps.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppHelper.TokenStorage"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FollowTourActivity"></activity>
        <activity android:name=".ui.main.ServiceReviewActivity" />
        <activity android:name=".VerifyCodeRecoveryPasswordActivity" />
        <activity android:name=".PasswordRecoveryActivity" />

        <receiver
            android:name=".Service.BroadcastLocationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000000">
                <action android:name="@string/receiver_action_send_coordinate" />
                <action android:name="@string/receiver_action_send_notification_on_road" />
                <action android:name="@string/receiver_action_noti_text" />
                <action android:name="@string/receiver_action_firebase_noti_on_road" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service.BackgroundLocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".UpdateTourActivity" />
        <activity
            android:name=".TourInfoActivity"
            android:label="@string/title_activity_tour_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateStopPointActivity" />
        <activity android:name=".CreateTourActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/gg_map_API" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>